*{
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background-color: #f4f4f4;
    margin: 0 auto;
    line-height: 1.4;
}


/*header and navigation styling**/

h1, h3 {
    color: gray;
    margin-left: 18px;
}


.myBell {
    height: 30px;
    width: 50px;
    padding-right: 10px;
    border-radius: 50%;
    transition: transform 1s;
}

.myBell:hover {
    transform: rotate (20deg);
}

.myBell {
    border: 1px solid #ffebcd07;
}

.myPic img {
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    transition: transform 1s;
}

/** nav bar and img styling**/

.icon-svg {
    height: 40px;
    width: 40px;
    padding: 5px;
}

.nav-bar img {
    padding: 10px;
    height: 10px;
    width: 30px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header1 input {
    width: 50%;
    border-radius: 5px;
    border: solid lightgray 1px;
    padding: 10px 0 10px 15px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}

.header-search {
    background-color: rgb(247, 247, 247);
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input:focus, select:focus, textarea:focus {
    border: .5px solid rgb(12, 21, 49);
    outline: 0;
    background: #cce6ea
}

/*Traffic styling*/

.traffic-header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.traffic-header h3 {
    margin-right: auto;
}

.traffic-nav li {
    display: inline-block;
    color: gray;
    padding-left: 40px;
}

.traffic {
    border-bottom: 1px solid lightgray;
}

.traffic-nav{
    margin-right: 15px;
}

#traffic-chart {
    padding-left: 25px;
    margin-left: 10px;
    padding-bottom: 15px;
}

/*Alert styling*/

.alert {
    background-color: #7477BF;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}

.alert p {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.alert-banner-close {
    float: right;
    padding-right: 5px;
}

/*Grid styling*/


.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header", "nav", "main";
}

header{
    grid-area: header;
    background-color: rgb(126, 82, 221);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    grid-area: nav;
    background-color: rgb(126, 82, 221);
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: grid;
    width: 100%;
}

.widget-container-full, 
.widget-container-half {
    width: 90vw;
}

/*Social Media*/

.facebook,
.twitter,
.google {
    display: flex;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #7477BF;
    padding: 10px 10px;
    
}

.social-container {
    padding-bottom: 40px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto;
    background-color:  rgb(247, 247, 247);
    padding: 0 15px;
}

.num {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: auto;
    color: gray;
}

.social-name {
    margin-bottom: auto;
    font-size: 18px;
    color: #7477BF;
}

/*Daily traffic*/

.daily {
    border-bottom:  1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-bottom: 15px;
}

/*Mobile users */

.mobile {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

/* New members */

.members {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.members-container,
.recent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.members p {
    margin-bottom: 0;
    margin-top: 0;
}

.member-1,
.member-2,
.member-3,
.member-4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 15px;
    padding: 15px;
}

.members p {
    margin-left: auto;
    align-items: center;
    justify-content: flex-start;
}

a {
    color: #7477BF;
    text-decoration: none;
}

/*Recent*/

.recent-activities {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.active-1,
.active-2,
.active-3,
.active-4 {
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding: 15px;
}

.recent-container p {
    margin-top: 0;
    margin-bottom: 0;
}

.recent-container span {
    margin-left: auto;
}

.member-1,
.member-2,
.member-3,
.member-4 {
    border-bottom: 1px solid lightgray;
}

/* Message user*/

.message  {
    border-right: 1px solid
}

.message-c {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 15px;
}

.button-primary {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #7477BF;
    color: white;
}

.form-area {
    padding-bottom: 45px;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

#userField {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.form-area,
.form-field {
    border: 1px solid lightgray;
    border-radius: 5px;
}

/* setting*/

.container-settings {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 35px;
    color: gray;
}


.settings-button {
    display: flex;
    justify-content: space-between;
}

#cancel,
#save {
    width: 48%;
}

#cancel {
    border-radius: 5px;
    padding: 10px 6px 10px 6px;
    margin-top: 10px;
    background-color: gray;
    color: white;
}

#timezone {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Media Query*/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    .main {
        grid-template-columns: 50%;
    }
    .main-header1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .traffic,
    .social-container {
        grid-column: 1 / span 2;
    }
    .daily,
    .members,
    .message {
        grid-column: 1/ span 1;
    }
    .recent-activities,
    .mobile,
    .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .alert {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .social-container {
        display: flex;
        justify-content: space-evenly;
    }
    .twitter,
    .facebook,
    .google {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: 25%;
        margin-right: 0;
        margin-left: 0;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .message{
        border-bottom: 1px solid lightgray;
        border-right: none;
        padding-bottom: 10px
    }
    .members {
        border-right: none;
}