*{
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background-color: #f4f4f4;
    margin: 0 auto;
    line-height: 1.4;
}

/*header and navigation styling**/
.app-title {
    margin: auto;
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

 h3, h2 {
    color: gray;
    margin-left: 15px;
}

h3 {
    text-decoration: underline;
    text-decoration-color: #7477BF;
}
img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.myBell {
    width: 25px;
    /*padding-right: 6.5px;*/
   /* margin-left: 40px;*/
    transition: transform 1s;
    margin-top: 10px;
    
}

.myBell:hover {
    transform: rotate(20deg);
}

.myBell {
    border-right: 1px solid #ffebcd07;
}

.myPic img {
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    margin-top: 35px;
    margin-left: 30px;
    transition: transform 1s;
    /*margin-top: 18px;*/
    /*padding-right: 5px;*/
    padding: 0 10px 0 10px;
}

.name {
    padding-right: 10px;
    font-size: 10px;
    color: white;
    /*left: 5px;*/
    text-decoration: none;
}
.members img,
.recent-activities img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
   /* margin-bottom: 25px;*/
    border-radius: 50%;
    background-color: green;
   /* margin-right: 15px;*/
}

/*.notification {
    text-align: center;
}

.notification .myPic,
.notification .name {
    float: right;
    padding: 4px;
}
*/
/** nav bar and img styling**/

.icon-svg {
    height: 30px;
    width: 30px;
    padding: 10px;
    
}
.headline {
    margin-right: auto;
    /*color: white;*/
    padding-right: 15px;
    font-size: 20px;
}

.main-header1 {
    display: flex;
    justify-content: space-between;
}

.main-header1 input {
    width: 70%;
    border-radius: 5px;
    border: solid lightgray 1px;
    padding: 10px 0 10px 15px;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
}

.header-search {
    background-color: rgb(247, 247, 247);
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*Traffic styling*/

.traffic-header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.traffic-name {
    margin-right: auto;
}

.traffic-nav li {
    display: inline-block;
    color: gray;
    padding-left: 10px;
    padding: 2px;
    font-size: 12px;
    margin-right: 60px;
    
}

.traffic {
    border-bottom: 1px solid lightgray;
}

.traffic-nav{
    margin-right: 15px;
}

#traffic-chart {
    padding-left: 20px;
    margin-left: 10px;
    padding-bottom: 15px;
}

/*Alert styling*/

.alert {
    background-color: #7477BF;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    
}

.alert p {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
}

.alert-banner-close {
    float: right;
    padding-right: 5px;
}

/*Grid styling*/


.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
     "nav"
     "main";
}

header{
    grid-area: header;
    background-color: rgb(126, 82, 221);
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    grid-area: nav;
    background-color: rgb(64, 67, 145);
    display: flex;
    justify-content: center;
}

main {
    grid-area: main;
    display: grid;
    width: 100%;
}

.widget-container-full, 
.widget-container-half {
    width: 90vw;
}

/*Social Media*/

.facebook-box,
.twitter-box,
.google-box {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #7477BF;
    padding: 10px 10px;
    margin: 10px;
}
.twitter-svg,
.google-svg {
    padding-top: 15px;
}

.social-container {
    padding-bottom: 40px;
}
.twitter-container,
.facebook-container,
.google-container {
    display: flex;
    border: lightgray solid 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto;
    background-color: rgb(247, 247, 247);
    padding: 0 10px;
    margin-left: 40px;
}

.num {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: auto;
    color: gray;
   /* margin-right: 150px;*/
}

.social-name {
    margin-bottom: auto;
    font-size: 18px;
    color: #7477BF;
  /*  margin-right: 150px;*/
}

/*Daily traffic*/

.daily {
    border-bottom:  1px solid lightgray;
    border-right: 1px solid lightgray;
    padding-bottom: 15px;
}

/*Mobile users */

.mobile {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
}

/* New members */

.members {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.members-container,
.recent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.members p {
    margin-bottom: 0;
    margin-top: 0;
}

.member-1,
.member-2,
.member-3,
.member-4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*margin: 0 15px;*/
    padding: 15px;
}

/*.members p {
    margin-left: auto;
    align-items: center;
    justify-content: flex-start;
}
*/
a {
    color: #7477BF;
    text-decoration: none;
    font-size: 12px;
}

.date {
   /* margin-left: auto;*/
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    margin-right: 20px;
    
}

/*Recent*/

.recent-activities {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    color: gray;
}
.recent-container span {
    margin-left: auto;
}
.active-1,
.active-2,
.active-3,
.active-4 {
    display: flex;
    align-items: center;
   /* margin: 0 15px;*/
    padding: 15px;
}

.recent-container p {
    margin-top: 0;
    margin-bottom: 0;
}
.members-text p {
    font-size: 9px;
}
.recent-container span {
    margin-left: auto;
}

.member-1,
.member-2,
.member-3,
.active-1,
.active-2,
.active-3 {
    border-bottom: 1px solid lightgray;
}

/* Message user*/

.message  {
    border-right: 1px solid
}

.message-c {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 10px;
}

.button-primary {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #7477BF;
    color: white;
}

.form-area {
    padding-bottom: 45px;
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 5px;
}

#userField {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
}

.form-area,
.form-field {
    border: 1px solid lightgray;
    border-radius: 5px;
}

/* setting*/

.container-settings {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 35px;
    color: gray;
}


.settings-button {
    display: flex;
    justify-content: space-between;
}

#send {
    text-align: justify;
}

#cancel,
#save {
    width: 20%;
}

#cancel {
    border-radius: 5px;
    padding: 10px 6px 10px 6px;
    margin-top: 10px;
    background-color: gray;
    color: white;
    margin-right: 190px;
    
}

#timezone {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Media Query*/

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }

    .main {
        grid-template-columns: 50%;
    }
    .main-header1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .traffic,
    .social-container {
        grid-column: 1 / span 2;
    }
    .daily,
    .members,
    .message {
        grid-column: 1/ span 1;
    }
    .recent-activities,
    .mobile,
    .settings {
        grid-column: 2 / span 1;
    }
    
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .alert {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .social-container {
        display: flex;
        justify-content: space-evenly;
    }
    
    .twitter-container,
    .facebook-container,
    .google-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-basis: 25%;
        margin-right: 0;
        margin-left: 0;
        padding-right: 30px;
    }
    .app-title {
        font-size: 36px;
        margin-left: 10px;
    }

    .myBell{
        margin-left: 40px;
        width:25px;
        margin-top: 10px;
        transition: transform 1s;
    }

    .myPic img {
        margin-bottom: -43px;
        
    }

    .name  {
        left: 5px;
        font-size: 18px;
        padding-left: 80px;
        padding-bottom: -40px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    
    .members img,
    .recent-activities img {
        height: 60px;
        width: 60px;
    }

.circle {
    margin-bottom: 25px;
    margin-right: 15px;
}

.main-header1 input {
    width: 50%;
    margin-right: 15px;
}
.traffic-nav li {
    font-size: 20px;
}

.date {
    margin-left: auto;
}

.message-c {
    margin-left: 15px;
}
#send {
    text-align: center;
}
#cancel,
#save {
width: 48%;
margin-top: 25px;
}
#timezone {
    width: 70%;
}

}

@media (max-width: 767px) {
    .message{
        border-bottom: 1px solid lightgray;
        border-right: none;
        padding-bottom: 10px
    }
    .members {
        border-right: none;
    }
}

@media(min-width:968px){

    .grid-container{

      grid-template-areas: 

        "header header header" 

        "nav main main"

        "nav main main"

    }

  }

  @media(min-width:1024px) {

     .container-settings {
         margin-bottom: 15px;
     }
      .setting-2 {
          margin-top: -15px;
          
      }
      .setting-1 {
          margin-top: -18px;
      }
    
      
  }

 